---
import Layout from "../../layouts/Layout.astro";
import { getSortedPostData } from "../../lib/api/blog.ts";

const POSTS_PER_PAGE = 20;
const allPosts = await getSortedPostData();
const pageCount = Math.ceil(allPosts.length / POSTS_PER_PAGE);
const posts = allPosts.slice(0, POSTS_PER_PAGE);
---

<Layout title="Blog">
  <h1>Blog</h1>
  <pre>{JSON.stringify(posts, null, 2)}</pre>
</Layout>
