---
import Layout from "../../layouts/Layout.astro";
import { getCollection } from "astro:content";

const POSTS_PER_PAGE = 20;
const allPosts = await getCollection('blog');
---

<Layout title="Blog">
  <h1>Blog</h1>
  {allPosts.map((item) => (
    <li>
      <a href={`/blog/${item.slug}`}>{item.data.title}</a>
    </li>
  ))}
</Layout>
