*, *::after, *::before
  box-sizing: border-box

html, body
  margin: 0
  padding: 0
  font-size: 100%

body
  background: var(--body-bg)
  color: var(--body-fg)
  font-family: $font-system
  font-size: 1.25rem
  font-weight: 400
  line-height: 1.5
  +fluid-type($mobile-width, $desktop-width, 16px, 20px)
  overflow-y: scroll

h1, h2, h3, h4, h5, h6
  font-family: $font-sans

a:link
  color: var(--link-color)
  text-decoration: none

a:visited
  color: var(--link-visited)

.container
  padding: 0 calc(50vw - #{$container-width * 0.5})

  @media screen and (max-width: #{$container-width})
    max-width: 100%
    padding-left: 1.5rem
    padding-right: 1.5rem

  @media screen and (max-width: 800px)
    width: 100%
    padding: $mobile-content-padding-x

  &.is-fullwidth
    @media screen and (min-width: #{$container-width})
      padding-left: 1.5rem
      padding-right: 1.5rem

.visually-hidden
  opacity: 0
  height: 0
  transform: scale(0)

pre, code
  font-family: $font-monospace

pre
  padding: 1em

:not(pre) > code
  color: var(--code-fg)
  background-color: var(--code-bg)
  font-size: .9em
  padding: 0 .15em
  word-wrap: break-word
  word-break: break-word
