---
import Layout from "@layouts/ContentLayout.astro";
---

<Layout title="Contact">
  <p>Hi there! 👋</p>
  <p>
    Just drop me a line at <a href="mailto:karol\x40moroz\x2edev"
      >karol&#x40;moroz&#x2e;dev</a
    > if you have any questions about my work.
  </p>
</Layout>
