---
import Layout from "../layouts/Layout.astro";
---

<Layout title="moroz.dev">
  <section class="hero">
    <h2 class="title">
      Building the future.<br />
      One line of code at a time.
    </h2>
    <p class="subtitle">
      My name is Karol Moroz.<br />I am a software developer based in Poznań,
      Poland.
    </p>
  </section>

  <section class="links">
    <a href="https://github.com/moroz" target="_blank" nofollow class="github"
      >Follow me on Github</a
    >
    <a href="/projects" class="projects">Side projects</a>
  </section>
</Layout>

<style lang="scss">
  @import "@styles/_variables.sass";

  .hero {
    margin-top: 2.5rem;
  }

  .hero,
  .links {
    text-align: center;
  }

  .title {
    @include fluid-type(rem-calc(768), rem-calc(1280), 1.875rem, 3rem);
    line-height: 1.125;
    margin-bottom: 0;

    @media screen and (max-width: #{rem-calc(768)}) {
      font-size: 1.5rem;
    }
  }

  .subtitle {
    margin: 0.75em 0 1.5rem;
    font-weight: 500;
  }

  a.github {
    background: linear-gradient(to right, #fff, lighten($primary, 40%));
    color: black;
  }

  a.projects {
    color: white;
    background: var(--primary);
  }

  .links {
    font-weight: 500;
    font-size: 0.9em;

    display: flex;
    justify-content: center;
    gap: 1em;

    a {
      border-radius: rem-calc(10);
      display: inline-flex;
      align-items: center;
      height: 2.5rem;
      padding: 0 1em;
    }
  }
</style>
