<footer>
  <p>&copy; 2020&ndash;2023 by Karol Moroz.</p>
  <small
    >The source code of this website is available on <a
      href="https://github.com/moroz/moroz.dev-astro"
      target="_blank"
      rel="noopener noreferrer">Github</a
    >.</small
  >
</footer>

<style lang="scss">
  footer {
    height: 15vh;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    background: var(--footer-bg);
  }

  p,
  small {
    margin: 0;
  }
</style>
