<header id="header">
  <a href="/">
    <h1>moroz.dev</h1>
  </a>
</header>

<style lang="scss">
  @import "../styles/_variables.sass";

  header {
    height: $header-height;
    line-height: $header-height;
    display: flex;
    align-items: center;
    position: fixed;
    left: 0;
    right: 0;
    border-bottom: 1px solid var(--border);
    padding: 0 1rem;
    z-index: 10;
    transition: 0.2s ease-in-out;
    background: var(--surface-bg);
  }

  h1 {
    line-height: 0;
    font-size: 1.5rem;
    color: var(--body-fg);
  }
</style>
