<header>
  <a href="/">
    <h1>moroz.dev</h1>
  </a>
</header>

<style lang="scss">
  @import "../styles/_variables.sass";

  header {
    height: $header-height;
    background: salmon;
    line-height: $header-height;
    display: flex;
    align-items: center;
    position: fixed;
    left: 0;
    right: 0;
  }

  h1 {
    line-height: 0;
  }
</style>
