<header id="header">
  <a href="/">
    <h1>moroz.dev</h1>
  </a>
</header>

<!-- 
<script>
  const SCROLL_THRESHOLD = 40;

  function setUpHeaderEffect() {
    const header = document.getElementById("header");
    let isOpaque: boolean = false;

    const handleScroll = () => {
      const newValue = window.pageYOffset >= SCROLL_THRESHOLD;
      if (newValue !== isOpaque) {
        isOpaque = newValue;
        header.classList.toggle("opaque", isOpaque);
      }
    };

    window.addEventListener("scroll", handleScroll);

    handleScroll();
  }

  setUpHeaderEffect();
</script>
  -->

<style lang="scss">
  @import "../styles/_variables.sass";

  header {
    height: $header-height;
    line-height: $header-height;
    display: flex;
    align-items: center;
    position: fixed;
    left: 0;
    right: 0;
    border-bottom: 1px solid var(--border);
    padding: 0 1rem;
    z-index: 10;
    transition: 0.2s ease-in-out;
    background: var(--surface-bg);
  }

  h1 {
    line-height: 0;
    font-size: 1.5rem;
    color: var(--body-fg);
  }
</style>
