---
export interface Props {
  title: string;
}

const { title } = Astro.props.frontmatter;
import BaseLayout from './Layout.astro';
---

<BaseLayout title={title}>
  <h1>{title}</h1>
  <slot/>
</BaseLayout>
